<div class="container-fluid">
  {{#each posts as |post|}}
  <div class="card mt-3">
    <a href="/post/{{id}}">
      <div class="card-header">
        <h2 id="post-title">{{post_title}}</h2>
        <span id="user-created">Created By: {{post.user.username}}</span><br>
        <span id="date-created">On: {{format_date date_created}}</span>
      </div>
    </a>
    <div class="card-body">{{post_body}}</div>
  </div>
  {{/each}}
</div>